<div class="footer">
  <div class="inner">

    <div class="row">
      <div class="col">
        <div class="note">
          <img src="assets/logo.png" alt="">
          <p>
            Jouwal is ...
          </p>
        </div>
      </div>

      <div class="col">
        <div class="note">
          <div class="name"></div>
          <div class="credit-cards" style="text-align: center; width: 100%">
            <img height="40" src="https://shoplineimg.com/assets/footer/card_visa.png" />
            <img height="40" src="https://shoplineimg.com/assets/footer/card_master.png" />
            <img height="40" src="https://shoplineimg.com/assets/footer/card_paypal.png" />
          </div>
        </div>
      </div>

      <div class="col">
        <div class="note">
          <div class="name">Privacy </div>
          <p>
            © 2021 Jouwal Inc. All Rights Reserved.
            Unauthorized duplication, in whole or in part, is strictly prohibited.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>