<div class="testimonials">
  <div class="inner">
    <h1>Testimonials</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="assets/p1.png" alt="">
          <div class="name">Henry Rosso</div>
          <p>
            “Jouwal really help me organize the best trip I've ever been to. Definitely recommended.”
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/p2.png" alt="">
          <div class="name">Jeff Brooks
          </div>
          <p>
            “I have stumbled upon this web application by accident, and I have been using it ever since, really a time saver.”
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/p3.png" alt="">
          <div class="name">Peter Dering</div>
          <p>
            “Do you Homework. Trying to organize together a tour in a few days and thinking that you will shoot the moon is highly unlikely”
          </p>
        </div>
      </div>
    </div>
  </div>
</div>