<div class="container">

    <article data-icon="📊"><span aria-hidden="true"></span>
        <h3>Ease of use</h3>
        <p>
            Provides you with a quick tool to help you find the most suitable tours accross the internet. 
        </p>
    </article>
    <article data-icon="🙎"><span aria-hidden="true"></span>
        <h3>Time ٍSaving</h3>
        <p>
            Provide you with tours from different sources.
        </p>
    </article>
    <article data-icon="📍"><span aria-hidden="true"></span>
        <h3>Price Comparison</h3>
        <p>
            The best place to compare prices between different sources
        </p>
    </article>

</div>